body {
    background-color: lightgray;
}

.cs-form-search {
    text-align: center;
    margin-top: 10rem;
}
.cs-result {
    background-color: #c3cbd2;
    padding: 2rem;
    margin-top: 15px;
    margin: 15px 30rem;
    border-radius: 30px;
}